<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    
    <div class="container mb-3 mt-3">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <table id="example" class="display table table-stripped table-bordered">
        <thead>
          <tr>
            <td>Name</td>
            <td>Code</td>
            <td>Region</td>
            <td>Population</td>
            <td>Head Of State</td>
            <td>Actions</td>
          </tr>
       </thead>
      <tbody>
        <% if(!results || results.length === 0){ %> 
          <tr>
            <td colspan="5">Country information is missing.</td>
          </tr>
          <%            
        } else {
          results.forEach(country => { %>
            <tr>
              <td> <%=country.name %> </td>
              <td> <%=country.code %> </td>
              <td> <%=country.Region %> </td>
              <td> <%=country.Population %> </td>
              <td> <%=country.HeadOfState %> </td>
              <td> 
                <a href="/delete/<%= country.code %>" onclick="return confirm('Tem certeza?');"><i class="fa fa-trash-o text-primary" style="font-size:24px"></i></a>  
                <a href="/edit/<%= country.code %>" ><i class="fa fa-pencil-square-o text-primary" style="font-size:24px" aria-hidden="true"></i></a>
              </td>
            </tr>
            <%
          });
        }
        %> 
      </tbody>
      <tfoot>
                <tr>
                  <td colspan="6">
                      <a href="/new" role="button" id="Register" class="btn btn-primary">Register</a>
                  </td>
                </tr>
          </tfoot>

      </table>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <!-- bootstrap 4 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        } );
    </script>
  </body>
</html>
